<!DOCTYPE html>
<html>
<head>
	<title>Fibonacci</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
</head>
<body>
	<div class="jumbotron"> 
		<div class="container">
			<div class="col-md-4"></div>
			<div class="col-md-4">
					<form action='/result/' method = "POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="num">Enter the Nth number in Fibonacci sequence:</label>
							<input type="number" class="form-control" id="num" name="fnumber" min="1">
						</div>

						<center><input type = "submit" class="btn btn-success"/></center>
					</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<center>	
		<h4 class="text-danger">{{message}}</h4>
		{% if message == 'Please enter the number' %}

		{% else %}
			<h5>Entered Number: <b>{{number}}</b></h5>
			<h5>Result: <b>{{fibNum}}</b></h5>
			<h5>Time Taken: <b>{{timeDiff}}</b></h5> 
		{% endif %}
	</center>
</body>
</html>
