<!DOCTYPE html>
<html>
<head>
	<title>Fibonacci</title>
	<style type="text/css">
		.center{
			margin-top:20%;
		}
	</style>
</head>
<body style="background-color: #cfcfe1">
	<center>
		<div class="center">
			<form action='/result/' method = "POST">
				{% csrf_token %}
				<p>Enter the Nth number in Fibonacci sequence: <input type="number" name="fnumber" min="1"></p>
				<p><input type = "submit" /></p>
			</form>
			<hr>
			<p style="color: red">{{message}}</p>
			{% if message == 'Please enter the number' %}

			{% else %}
				<p>Entered Number: <b>{{number}}</b></p>
				<p>Result: <b>{{fibNum}}</b></p>
				<p>Time Taken: <b>{{timeDiff}}</b></p>
			{% endif %}
		</div>
	</center>
</body>
</html>
